//-- BruhCoin website.
//-- Copyright (C) BruhCoin 2021. (https://bruhco.in/)
//-- Licensed under GNU GPLv3

doctype html
html(lang="en")
    head
        include ../misc/page-head.pug
        link(rel="stylesheet" href="/assets/css/pages/404.css")
        title 404 Not Found - BruhCoin
    body
        include ../base/nav.pug
        main
            div(class="error")
                div(class="code") 404
                div(class="msg") The requested page is not found.
                a(style="margin-top: 2em;" class="button-flat" href="/") GO HOME
        include ../base/footer