doctype html
html(lang="en")
    head
        include ../misc/page-head.pug
        link(rel="stylesheet" href="/assets/css/pages/index.css")
        title BruhCoin
    body
        include ../base/nav.pug
        main
            div(class="hero")
                div(class="coin")
                div(class="title") An ERC20 token with an exact supply of 69,420
                div(class="buttons")
                    button(onclick='window.location.href = "/contract";') GET CONTRACT
                    button(onclick='window.open("https://github.com/bruhcoin-erc20");') GITHUB
            div(class="content-pane accent-dark p1")
                div(class="title") Welcome to BruhCoin
                div(class="icn_supply")
                div(class="desc")
                    div(class="text")
                        | BruhCoin is an ERC20 token with a limited supply of 69,420.
                        br
                        | If you have been on the internet for longer than a minute, you will realize this is a very special number.
                        br
                        | Yes, this is a real ERC20 token.
            div(class="content-pane accent-light p2")
                div(class="title") Ready to get started?
                div(class="desc")
                    div(class="text")
                        b Some simple ways to get BRUH:
                        br
                        | - You can get some BRUH from the official faucet.
                        br
                        | - You can get BRUH from an exchange.
                        br
                        br
                        | As with any coin, beware of scams.
                        br
                        | Our faucet drops
                        b  0.00001 BRUH 
                        | every 24 hours 
                        b per IP and address.
                        br
                        br
                        b Important Information
                        br
                        | Since BRUH is an ERC20 token, you will need Ethereum 
                        | to make 
                        b any 
                        | transactions.
        include ../base/footer