meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(property="og:url" content="https://bruhco.in/")
meta(property="og:title" content="Bruhco.in")
meta(property="og:type" content="website")
meta(property="og:site_name" content="BruhCoin")
meta(property="og:image" content="https://bruhco.in/assets/img/favicon.png")
meta(property="og:description" content="An ERC20 token with exactly 69420 coins max supply.")
meta(name="description" content="An ERC20 token with exactly 69420 coins max supply.")
meta(name="keywords" content="bruh,bruhcoin,erc20,ethereum,meme,memecoin,crypto,cryptocurrency")
link(rel="apple-touch-icon" href="https://bruhco.in/assets/img/favicon-apple.png")
link(rel="icon" sizes="192x192" href="https://bruhco.in/assets/img/favicon.png")
link(rel="stylesheet" href="/assets/css/normalize.css")
link(rel="stylesheet" href="/assets/css/theme.css")