//-- BruhCoin website.
//-- Copyright (C) BruhCoin 2021. (https://bruhco.in/)
//-- Licensed under GNU GPLv3

footer(class="bottom")
    a(href="/" class="logo")
    div(class="aside")
        div(class="box")
            div(class="title")
                | NAVIGATION
            a(href="/") Home
            a(href="/faucet") Faucet
            a(href="/about") About

        div(class="box")
            div(class="title")
                | CONNECT
            a(href="https://discord.gg/n7MVqAgUbF") Discord Server

        div(class="box")
            div(class="title")
                | DEVELOP
            a(href="https://github.com/bruhcoin-erc20") GitHub
        
        div(class="copyright") Copyright (C) BruhCoin 2021