//-- BruhCoin website.
//-- Copyright (C) BruhCoin 2021. (https://bruhco.in/)
//-- Licensed under GNU GPLv3

nav(class="base")
    a(class="logo" href="/")
        div(class="icon")
        div(class="title") BruhCoin

    div(class="links")
        a(href="/") Home
        a(href="/faucet") Faucet
        a(href="/about") About